@font-face {
   font-family: 'SFUI-Regular';
   src: url(./Fonts/SFUIDisplay-Regular.woff) format('woff');
   font-weight: 500;
}

@font-face {
   font-family: 'SFUI-Medium';
   src: url(./Fonts/SFUIDisplay-Medium.woff) format('woff');
}

@font-face {
   font-family: 'SFUI-SemiBold';
   src: url(./Fonts/SFUIDisplay-Semibold.woff) format('woff');
}

@font-face {
   font-family: 'SFUI-Bold';
   src: url(./Fonts/SFUIDisplay-Bold.woff) format('woff');
}

h1,
h2,
h3 {
   font-family: 'Orbitron', sans-serif;
   font-weight: 500;
   font-style: normal !important;
}

.color-grey {
   color: #ffffffa8;
}
